/*------------------------------
       General Rules
------------------------------*/
* {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

/*-----------------------------
        HEADER STYLING
-----------------------------*/

header {
  background-color: #3f3aa1;
  display: flex;
  background-color: blue;
  padding: 0.25em;
  align-items: center;
}

header p:nth-child(4) {
  color: white;
  padding: 0 1em;
  font-weight: bold;
}

header p:nth-child(1) {
  margin-right: auto;
  color: white;
  padding-left: 1em;
  font-size: 1.2em;
}

svg {
  fill: #FFFFFF;
}

/*-----------------------------
      NAVIGATION STYLING
-----------------------------*/

nav {
  background: #464563;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-bell {
  border-right: solid .5px #230d0dd4;
  padding-right: 1em;
  position: relative;
}

.icon-bell span {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: green;
  position: absolute;
  top: -10%;
  left: 60%;
}

.header-icon,
.nav-icon {
  width: 6em;
  padding: 0 2em;
}

.Josh-pic {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.search-team {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.barchart-title {
  max-width: 90%;
  margin: auto;
}

/*------------------------------
       Searchbox Design
------------------------------*/

h2 {
  font-size: 1.1em;
}

.search {
  margin-left: auto;
  display: inline;
  padding: 0.7em 0;
  position: relative;
}

.searchbox {
  border-radius: 7px;
  text-indent: 5px;
}

.magnifying-glass {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 36%;
  left: 88%;
}

/*------------------------------
       Alertbox Styling
------------------------------*/

.alert-container {
  border-top: solid 1px gray;
  padding-top: .75em;
  padding-bottom: .75em;
}

.alert-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  background-color: #3f3aa1;
  border-radius: 10px;
  padding: 0 .75em;
}

.close-button {
  border: none;
  background-color: #3f3aa1;
}

.close-button {
  color: white;
}

/*--------------------------------
       Chart Buttons Styling
--------------------------------*/

.chart-buttons {
  margin: auto;
  width: 90%;
}

.chart-buttons button {
  padding: 10px;
  margin-left: .5em;
  border: none;
  border-radius: 15px;
  height: 2.5em;
}

.chart-buttons h4 {
  margin-right: auto;
}

/*--------------------------------
       Social Icons Styling
--------------------------------*/

.twitter-container,
.facebook-container,
.google-container {
  padding: .75em;
}

.twitter-icon,
.facebook-icon,
.google-icon  {
  width: 60%;
  position: absolute;
  top: 19%;
  left: 13%;
}

.twitter-box,
.facebook-box,
.google-box {
  position: relative;
  border: solid gray 1px;
  border-radius: 50%;
  background-color: blue;
  width: 5em;
  height: 5em;
  margin-left: 1.2em;
}

.twitter-data,
.facebook-data,
.google-data {
  display: flex;
  border: solid 1px lightgray;
  background-color: #f5eeed;
  padding: 1em;
  border-radius: 7px;
  align-items: center;
}

.social-medium-data {
  margin-left: auto;
  margin-right: 1.2em;
}

.social-medium-data p:nth-child(1) {
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
}

.social-medium-data p:nth-child(2) {
  color: gray;
  font-size: 1.5em;
}

/*--------------------------------
       Members Styling
--------------------------------*/

.new-members-container {
  border: solid 1px lightgray;
}

.members-heading {
  padding-top: 2em;
  width: 95%;
  margin: auto;
}

.member-container {
  padding: 1.5em 0;
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
}

.member-data {
  margin-right: auto;
  padding: 0 5px;
  line-height: 5px;
}

.member-img {
  border-radius: 50%;
  width: 12%;
}

.border-bottom {
  border-bottom: solid 1px lightgray;
}

/*--------------------------------
       Recent Activity Styling
--------------------------------*/

.recent-activity-container {
  border: solid 1px lightgray;
}

.activity-heading {
  padding-top: 2em;
  width: 95%;
  margin: auto;
}

.member-data-bis {
  margin-right: auto;
}

.activity-container {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}

.more-than {
  font-size: 2em;
}

/*--------------------------------
       Message User Styling
--------------------------------*/

.message-user-container {
  border: solid 1px lightgray;
}

.message-user-container p {
  padding-top: 2em;
}

.message-user-container input,
.message-user-container textarea,
.message-user-container button,
.message-user-container p {
  display: block;
  width: 95%;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 5px;
}

.message-user-container button {
  background: steelblue;
  border-color: steelblue;
  color: white;
  padding: .5em;
}

/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 17px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 17px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.settings-container {
  border: solid 1px lightgray;
}

.settings-centring {
  width: 95%;
  margin: auto;
}

.setting-heading {
  padding-top: 2em;
}

.first-widget,
.second-widget {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.onoffswitch {
  margin-right: 1em;
  margin-left: auto;
}

#myList {
  border-radius: 9px;
  padding: 10px;
  margin-bottom: 1em;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.buttons button {
  display: block;
  border-radius: 9px;
  padding: 10px;
  background: steelblue;
  width: 45%;
}

.buttons button:nth-child(2) {
  background-color: gray;
}
