/*------------------------------
       General Rules
------------------------------*/
* {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

body {
  background-color: lightblue;
}

h2 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  background-color: blue;
  padding: 1em 0.25em;
  align-items: center;
}

header p:nth-child(4) {
  color: white;
  padding-right: 1em;
  font-weight: bold;
}

header p:nth-child(1) {
  margin-right: auto;
}

nav {
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-bell {
  border-right: solid .5px #230d0dd4;
  padding-right: 1em;
}

.icon-bell::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: green;
}

.header-icon,
.nav-icon {
  width: 3em;
  padding: 0 2em;
}

.Josh-pic {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.barchart-title {
  max-width: 90%;
  margin: auto;
}

/*------------------------------
       Searchbox Design
------------------------------*/

.search-wrap {
  text-align: center;
}

.search {
  display: inline;
  padding: 0.7em 0;
  position: relative;
}

.searchbox {
  border-radius: 7px;
  text-indent: 5px;
}

.magnifying-glass {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 36%;
  left: 88%;
}

/*------------------------------
       Alertbox Styling
------------------------------*/

.alert-box {
  display: flex;
  justify-content: center;
}

.alert {
  width: 70%;
  background: #008068;
  padding: 1em;
  border-radius: 10px;
}

.alert button {
  background: #008068;
  border: none;
}

/*------------------------------
       Close Button Styling
------------------------------*/

.close-button {
  color: white;
}

/*--------------------------------
       Chart Buttons Styling
--------------------------------*/

.chart-buttons {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.chart-buttons button {
  background-color: lightblue;
  margin-left: 5px;
  border: none;
}

.chart-buttons h4 {
  margin-right: auto;
}

/*--------------------------------
       Social Icons Styling
--------------------------------*/
.twitter-icon,
.facebook-icon,
.google-icon  {
  width: 60%;
  position: absolute;
  top: 19%;
  left: 13%;
}

.twitter-box,
.facebook-box,
.google-box {
  position: relative;
  border: solid black 1px;
  border-radius: 50%;
  background-color: blue;
  width: 5em;
  height: 5em;
}

.twitter-data,
.facebook-data,
.google-data {
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  justify-content: space-around;
}

/*--------------------------------
       Members Styling
--------------------------------*/

.member-container {
  display: flex;
  align-items: center;
}

.member-data {
  margin-right: auto;
}

.member-img {
  border-radius: 50%;
}

/*--------------------------------
       Recent Activity Styling
--------------------------------*/

.activity-container {
  display: flex;
  align-items: center;
}

.more-than {
  font-size: 3em;
}

/*--------------------------------
       Message User Styling
--------------------------------*/

.message-user-container {
  border-top: solid 1px black;
}

.message-user-container input,
.message-user-container textarea,
.message-user-container button {
  display: block;
  width: 90%;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 5px;
}

.message-user-container button {
  background: steelblue;
  border-color: steelblue;
  color: white;
  padding: .5em;
}

/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 17px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 17px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.settings-container {
  width: 90%;
  margin: auto;
  border-top: solid 1px black;
}

.first-widget,
.second-widget {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

#myList {
  border-radius: 9px;
  padding: 10px;
  margin-bottom: 1em;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2em;
}

.buttons button {
  display: block;
  border-radius: 9px;
  padding: 10px;
  background: steelblue;
  width: 45%;
}
