/*------------------------------
       General Rules
------------------------------*/
* {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

/*-----------------------------
        HEADER STYLING
-----------------------------*/

header {
  background-color: #3f3aa1;
  display: flex;
  background-color: blue;
  padding: 0.25em;
  align-items: center;
}

.pop-up-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: gray;
  position: absolute;
  top: 0px;
  left: -150px;
  z-index: 1000;
}

.pop-up-group1,
.pop-up-group2 {
  display: flex;
}

.pop-up-container p {
  color: white;
  display: inline-block;
  margin: auto;
  width: 100%;
  padding: .95em;
}

.notification2 {
  border-top: solid 1px lightgray;
}

.notification1 button,
.notification2 button {
  margin-left: auto;
}

.sullivan {
  color: white;
  padding: 0 1em;
  font-weight: bold;
}

.trade-mark {
  margin-right: auto;
  color: white;
  padding-left: 1em;
  font-size: 1.2em;
}

svg {
  fill: #FFFFFF;
}

.bell-alert {
  transition-duration: .95s;
  transition-delay: .3s;
}

.bell-alert:hover {
  fill: #d36a62;
  transform: rotate(360deg) scale(1.5);
}

.notification1,
.notification2 {
  width: 100px;
}

/*-----------------------------
      NAVIGATION STYLING
-----------------------------*/

nav {
  background: #464563;
  padding: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-bell {
  border-right: solid .5px #230d0dd4;
  padding-right: 1em;
  position: relative;
}

.icon-bell span {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: green;
  position: absolute;
  top: -10%;
  left: 60%;
}

.header-icon,
.nav-icon {
  width: 6em;
  padding: 0 2em;
}

.Josh-pic {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  margin-left: 1em;
}

.search-team {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
}

.barchart-title {
  max-width: 90%;
  margin: auto;
}

/*------------------------------
       Searchbox Design
------------------------------*/

h2 {
  font-size: 1.1em;
}

.search {
  margin-left: auto;
  display: inline;
  padding: 0.7em 0;
  position: relative;
}

.searchbox {
  border-radius: 7px;
  text-indent: 5px;
}

.magnifying-glass {
  position: absolute;
  width: 1em;
  height: 1em;
  top: 36%;
  left: 88%;
}

/*------------------------------
       Alertbox Styling
------------------------------*/

.alert-container {
  border-top: solid 1px gray;
  padding-top: .75em;
  padding-bottom: .75em;
}

.alert-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  background-color: #3f3aa1;
  border-radius: 10px;
  padding: 0 .75em;
}

.close-button {
  border: none;
  background-color: #3f3aa1;
}

.close-button {
  color: white;
}

/*--------------------------------
       Chart Buttons Styling
--------------------------------*/

.main-chart-container,
.bar-chart-container,
.doughnut-chart-container {
  border-bottom: solid 1px lightgray;
  padding: 1em 0;
}

.doughnut-chart-container {
  border-top: solid 1px lightgray;
  border-left: solid 1px lightgray;
}

.doughnut-chart-container h4 {
  margin-left: 10%;
}

.chart-buttons {
  margin: auto;
  width: 90%;
}

.highlight {
  background-color: lightgreen;
}

.chart-buttons button {
  padding: 10px;
  margin-left: .5em;
  border: none;
  border-radius: 15px;
  height: 2.5em;
}

.chart-buttons h4 {
  margin-right: auto;
}

/*--------------------------------
       Social Icons Styling
--------------------------------*/

.social-grid-container {
  border: solid 1px lightgray;
}

.twitter-container,
.facebook-container,
.google-container {
  padding: .75em;
}

.twitter-icon,
.facebook-icon,
.google-icon  {
  width: 60%;
  position: absolute;
  top: 19%;
  left: 13%;
}

.twitter-box,
.facebook-box,
.google-box {
  position: relative;
  border: solid gray 1px;
  border-radius: 50%;
  background-color: blue;
  width: 5em;
  height: 5em;
  margin-left: 1.2em;
}

.twitter-data,
.facebook-data,
.google-data {
  display: flex;
  border: solid 1px lightgray;
  background-color: #f5eeed;
  padding: 1em;
  border-radius: 7px;
  align-items: center;
}

.social-medium-data {
  margin-left: auto;
  margin-right: 1.2em;
}

.social-medium-data p:nth-child(1) {
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
}

.social-medium-data p:nth-child(2) {
  color: gray;
  font-size: 1.5em;
}

/*--------------------------------
       Members Styling
--------------------------------*/

.new-members-container {
  border: solid 1px lightgray;
}

.members-heading {
  padding-top: 2em;
  width: 95%;
  margin: auto;
}

.member-container {
  padding: 1.5em 0;
  width: 95%;
  display: flex;
  align-items: center;
  margin: auto;
}

.member-data {
  margin-right: auto;
  padding: 0 5px;
  line-height: 5px;
}

.member-img {
  border-radius: 50%;
  width: 12%;
}

.border-bottom {
  border-bottom: solid 1px lightgray;
}

/*--------------------------------
       Recent Activity Styling
--------------------------------*/

.recent-activity-container {
  border: solid 1px lightgray;
}

.activity-heading {
  padding-top: 2em;
  width: 95%;
  margin: auto;
}

.member-data-bis {
  margin-right: auto;
}

.activity-container {
  display: flex;
  align-items: center;
  width: 95%;
  margin: auto;
}

.more-than {
  font-size: 2em;
}

/*--------------------------------
       Message User Styling
--------------------------------*/

.message-user-container {
  border: solid 1px lightgray;
}

.message-user-container p {
  padding-top: 2em;
}

.message-user-container #userField,
.message-user-container textarea,
.message-user-container button,
.message-user-container p {
  display: block;
  width: 95%;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 5px;
}

.message-user-container button {
  background: steelblue;
  border-color: steelblue;
  color: white;
  padding: .5em;
}

/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.button-area {
  background-color: #7572bb;
  width: 7.7em;
  padding: 1em;
  border-radius: 25px;
  margin-left: auto;
  text-align: center;
  position: relative;
  border-width: 2px red;
  display: flex;
  border: solid 2px lightgray;
}

.button-area2 {
  background-color: #7572bb;
  width: 7.7em;
  padding: 1em;
  border-radius: 25px;
  margin-left: auto;
  text-align: center;
  position: relative;
  border-width: 2px red;
  display: flex;
  border: solid 2px lightgray;
}

.on  {
   color: white;
}

.off {
   color: white;
   padding-left: 2em;
}

.circle {
  background: white;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 12px;
  border: solid 2px lightgray;
  transition: .5s ease-out 0.2s;
}

.circle2 {
  background: white;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 65px;
  border: solid 2px lightgray;
  transition: .5s ease-out 0.2s;
}


/*--------------------------------
       Swiches/Widgets Styling
--------------------------------*/

.settings-container {
  border: solid 1px lightgray;
}

.settings-centring {
  width: 95%;
  margin: auto;
}

.setting-heading {
  padding-top: 2em;
}

.first-widget,
.second-widget {
  display: flex;
  align-items: center;
  margin-bottom: .83em;
}

.second-widget {
  max-width: 95%;
  margin: auto;
  padding-bottom: .5em;
}

#myList {
  border-radius: 9px;
  padding: 10px;
  margin-bottom: 1em;
  width: 95%;
}

.dropdown {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  width: 95%;
  margin:auto;
}

.buttons button {
  display: block;
  border-radius: 9px;
  padding: 10px;
  background: steelblue;
  width: 45%;
}

.buttons button:nth-child(2) {
  background-color: gray;
}

/*--------------------------------
       Media Queries 768px
--------------------------------*/

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: minmax(90px, 1fr) 6fr;
  }
  nav {
    grid-column: 1 / 2;
    grid-row: 2 / 13;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .nav-icon {
    padding-top: 3em;
  }
  header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .member-data {
    padding-left: 2em;
  }
  .chart-buttons {
    display: flex;
    align-items: center;
  }
  .social-grid-container-inside,
  .new-members-container-inside,
  .recent-activity-container-inside {
    width: 90%;
    margin: auto;
    border-left: none;
    border-right: none;
    padding: 2em 0;
  }

/*--------------------------------
       Media Queries 1024px
--------------------------------*/

@media (min-width: 1024px) {

  .grid-container {
    grid-template-columns: 1fr 5fr 5fr;
  }
  header {
    grid-column: 1 / 4;
  }
  nav {
    grid-column: 1 / 2;
    grid-row: 2 / 12;
  }
  .search-team,
  .alert-container,
  .main-chart-container,
  .social-grid-container {
    grid-column: 2 / 4;
  }
  .bar-chart-container,
  .new-members-container {
    grid-column: 2 / 3;
  }
  .doughnut-chart-container,
  .recent-activity-container {
    grid-column: 3 / 4;
  }
  .social {
    display: flex;
    justify-content: space-between;
  }
  .twitter-container,
  .facebook-container,
  .google-container {
    width: 33%;
  }
  .bar-chart-container {
    border: solid 1px lightgray;
  }
  .message-user-container {
    padding-top: 1em;
  }
  .member-data-bis {
    line-height: 5px;
    padding-left: 1em;
  }
  .member-container {
    padding-bottom: 1.1em;
  }
  .activity-container {
    padding-bottom: .15em;
  }
  .close-button {
    margin-left: auto;
  }
}
